/*========== RafSan RaFi ==========*/

/*---------------------------------------*/
/*--- BASIC SETUP ---*/
/*---------------------------------------*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    background-color:#f5f5f5;
    color: #555;
    font-family: 'Lato','Arial','sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix{zoom: 1;}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------- */
.row{
	max-width: 1140px;
	margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box {
    padding: 1%;
    text-align: justify;
}

/*----- HEADINGS -----*/

.wh1{width: 35%;}
.wh2{width: 30%;}
.wh3{width: 36%;}
.wh4{width: 27%;}
.wh5{width: 33%;}
.wh6{width: 59%;}
.wh7{
    color: #fff;
}
.bim {
    border-top: 2px solid #E62A2A;
    margin-top: 25px;
    margin-bottom : 25px;
}
.bim h2 {
    background-color: #f5f5f5;
    margin-top: -25px;
}

hr {
    float: right;
    margin-top: 122px;
    width: 84%;
}
h1,h2,h3{
    font-weight: bold;
    text-transform: uppercase;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #f5f5f5;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}
span{
    color: #e62a2a;
}

/* ----- LINKS ----- */
a:link,
a:visited{
    color: #E62A2A;
    text-decoration: none;
    border-bottom: 1px solid #E62A2A;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ----- ICONS ----- */
.icon {
    margin-bottom: 5px;
}
.icon-big{
    font-size: 350%;
    display: block;
    color: #E62A2A;
    margin-bottom: 10px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #E62A2A;
    font-size: 120%;
    margin-right: 30px;
    /*secrets to align text and icon*/
    line-height: 120%;
    vertical-align: middle;
}

/* ----- PRAGRAPH ----- */
.long-copy {
    font-weight: bold;
    line-height: 145%;
    margin: 2% 15%;
    text-align: center;
    width: 70%;
    word-spacing: 5px;
}

.box p{
    font-size: 85%;
    line-height: 145%;
}

/* ----------------------------------- */
/* Button */
/* ----------------------------------- */
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    color: #fff;
    background-color: #E62A2A;
    margin-right: 20px;
    border: 1px solid #E62A2A;
}

.btn:hover,
.btn:active,
input[type=submit]:hover{
    background-color: rgba(230, 42, 42, 0.116);
    border: 1px solid #E62A2A;
    color: #fff;
}

/* ----------------------------------- */
/* HEADER */
/* ----------------------------------- */

header{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))),url(img/fashion-style.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/fashion-style.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

.headline-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.logo {
    float: left;
    height: 100px;
    margin-top: 2%;
    width: auto;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
    font-weight: 400;
}

.main-nav li{
    display: inline-block;
    margin-left: 30px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 15px;
    color: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border: 2px solid transparent;
    -webkit-transition: border 0.2s, border-radius 0.2s, background-color 0.2s;
    transition: border 0.2s, border-radius 0.2s, background-color 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border: 2px solid #E62A2A;
    border-radius: 30px;
    background-color: #E62A2A;
}

/* ----------------------------------- */
/* PRODUCT */
/* ----------------------------------- */
.section-products{
    padding: 0;
}

.man {
}

.women {
    margin-top: 8%;
}

.product-showcase{
    list-style: none;
    width: 100%;
}

.product-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.product-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.product-photo img {
    height: 250px;
    opacity: 0.7;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
    transition: opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
    transition: transform 0.5s ease 0s, opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
    width: 100%;
}
.product-photo img:hover{
    opacity: 1;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
}

/* ----------------------------------- */
/* HOW IT WORKS */
/* ----------------------------------- */
.section-steps{
    background-color: #f4f4f4; 
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child {
    margin-left: 27%;
    text-align: left;
}

.app-screen{
    width: 40%;
}

.works-step{
    margin-bottom: 50px;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}
.works-step div {
    border: 2px solid #E62A2A;
    border-radius: 50%;
    color: #E62A2A;
    display: inline-block;
    float: left;
    font-size: 150%;
    height: 55px;
    margin-bottom: 50px;
    margin-right: 25px;
    padding: 5px;
    text-align: center;
    width: 55px;
}

.works-step p {
    margin-top: 0;
    text-align: justify;
    width: 80%;
}
.app-btn-app {
    margin-top: 55px;
    width: 80%;
}

.btn-app:link,
.btn-app:visited{
    border: 0;
}

.btn-app img {
    float: right;
    height: 50px;
    margin-left: 15px;
    width: auto;
}

/* ----------------------------------- */
/* BRANDS */
/* ----------------------------------- */
.section-brands {
    padding: 20px 20px 80px;
}

.box img {
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 140px;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
}

.box img:hover{
	box-shadow: 0 0 1.5px 0.5px #ddd;
}

/* ----------------------------------- */
/* CITYS */
/* ----------------------------------- */
.section-cityes{
    padding-top: 0; 
}

.box-2 {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1%;
  text-align: justify;
}
.box-2:hover{
	box-shadow: 0 0 1.5px 0.5px #ddd;
}

.box-2 img {
    height: 150px;
    margin-bottom: 15px;
    width: 100%;
}

.city-feature {
    color: #e62a2a;
    margin-bottom: 5px;
}

/* ----------------------------------- */
/* FORM */
/* ----------------------------------- */
.x1{margin: 12px 0;}
.x2{margin-top: 20px;}

.section-form{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))),url(img/1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/1.jpg);
    background-size: cover;
    background-position: center;
}

.singup-form,
.singin-form{
    width: 50%;
    margin: 0 auto;
}

.singin-form p {
    color: #fff;
    font-weight: 400;
    margin: 70px 0 30px;
    word-spacing: 5px;
}

label{color: #fff; font-weight: 400;}

input[type=text],
input[type=email],
input[type=password],
select{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

*:focus{outline: none;}

/* ----------------------------------- */
/* FOOTER */
/* ----------------------------------- */
footer{
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}

.social-links{
    list-style: none;
    float: right;
}

.social-links li{
    display: inline-block;
    margin-right: 20px; 
}

.social-links li:last-child{
    margin-right: 0
}

.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    color: #888;
    border: 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-twitter:hover{
    color: #55acee;
}

.ion-social-googleplus:hover{
    color: #dd4b39;
}

.ion-social-instagram:hover{
    color: #e4405f;
}

footer p{
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 6px; 
}